USE [master]
GO
/****** Object:  Database [QLThuChi]    Script Date: 30/10/2018 7:47 ******/
CREATE DATABASE [QLThuChi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLThuChi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLThuChi.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLThuChi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLThuChi_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLThuChi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLThuChi]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_KiemTraKhoanTraNo]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_KiemTraKhoanTraNo](@khoanvay INT, @sotien INT)
RETURNS INT
AS
BEGIN
	IF(@sotien <= (SELECT SoTien - (SELECT SUM(SoTien) FROM dbo.TraNo tn WHERE tn.KhoanVay= @khoanvay)
	FROM dbo.Vay_ChoVay vcv
	WHERE vcv.id = @khoanvay
	)
	)
		RETURN 1
	ELSE
		RETURN 0
	RETURN 0
END


GO
/****** Object:  Table [dbo].[CongViec]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongViec](
	[MaCV] [int] IDENTITY(1,1) NOT NULL,
	[Ngay] [date] NOT NULL,
	[Gio] [nchar](10) NOT NULL,
	[NoiDung] [nvarchar](200) NOT NULL,
	[ThanhVien] [nchar](10) NOT NULL,
	[ThongBao] [int] NULL,
	[HoanThanh] [int] NULL,
	[DaThongBao] [int] NULL,
	[ThuChi] [nvarchar](50) NULL,
	[SoTien] [float] NULL,
 CONSTRAINT [PK_CongViec] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhoanChi]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoanChi](
	[MaKC] [nchar](10) NOT NULL,
	[MaThanhVien] [nchar](10) NULL,
	[Ngay] [date] NOT NULL,
	[LoaiKC] [nchar](10) NOT NULL,
	[KhoanChi] [nvarchar](100) NOT NULL,
	[SoTien] [float] NOT NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK_KhoanChi] PRIMARY KEY CLUSTERED 
(
	[MaKC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhoanThu]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoanThu](
	[MaKT] [nchar](10) NOT NULL,
	[MaThanhVien] [nchar](10) NULL,
	[Ngay] [date] NOT NULL,
	[LoaiKT] [nchar](10) NOT NULL,
	[KhoanThu] [nvarchar](100) NOT NULL,
	[SoTien] [float] NOT NULL,
	[GhiChu] [nvarchar](100) NULL,
 CONSTRAINT [PK_KhoanThu] PRIMARY KEY CLUSTERED 
(
	[MaKT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LanDangNhap]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LanDangNhap](
	[Ma] [int] IDENTITY(1,1) NOT NULL,
	[Ngay] [date] NULL,
	[Gio] [time](7) NULL,
	[TrangThai] [int] NULL,
	[TrangThaiXem] [int] NULL,
 CONSTRAINT [PK_LanDangNhap] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiCamXuc]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiCamXuc](
	[MaCX] [int] NOT NULL,
	[TenCX] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_LoaiCamXuc] PRIMARY KEY CLUSTERED 
(
	[MaCX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiKhoanChi]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiKhoanChi](
	[MaLKC] [nchar](10) NOT NULL,
	[TenLKC] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LoaiKhoanChi] PRIMARY KEY CLUSTERED 
(
	[MaLKC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiKhoanThu]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiKhoanThu](
	[MaLKT] [nchar](10) NOT NULL,
	[TenLKT] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LoaiKhoanThu] PRIMARY KEY CLUSTERED 
(
	[MaLKT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiVay]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiVay](
	[id] [int] NOT NULL,
	[Loai] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiVay] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MucDichTietKiem]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MucDichTietKiem](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TenMucDich] [nvarchar](255) NULL,
	[SoTienDuKien] [float] NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_MucDichTietKiem] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguoiVay]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiVay](
	[id] [nchar](10) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[SDT] [int] NULL,
 CONSTRAINT [PK_NguoiVay] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[MaQuyen] [int] NOT NULL,
	[TenQuyen] [nvarchar](50) NULL,
 CONSTRAINT [PK_Quyen] PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThanhVien]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ThanhVien](
	[TenDangNhap] [nchar](10) NOT NULL,
	[MatKhau] [varchar](200) NOT NULL,
	[TenTV] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[DiaVi] [nvarchar](10) NULL,
	[CauHoiBM] [nvarchar](30) NULL,
	[CauTraLoi] [nvarchar](30) NULL,
	[Anh] [image] NULL,
	[DienThoai] [nchar](20) NULL,
	[Email] [nchar](40) NULL,
	[Quyen] [int] NULL,
 CONSTRAINT [PK_ThanhVien] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TietKiem]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TietKiem](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Ngay] [date] NOT NULL,
	[SoTien] [int] NOT NULL,
	[ThanhVien] [nchar](10) NULL,
	[MucDich] [int] NULL,
 CONSTRAINT [PK_TietKiem] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TrangThai]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThai](
	[MaTT] [int] IDENTITY(1,1) NOT NULL,
	[ThanhVien] [nchar](10) NULL,
	[Ngay] [date] NULL,
	[CamXuc] [int] NULL,
	[TrangThai] [nvarchar](500) NULL,
	[Anh] [image] NULL,
	[Gio] [time](7) NULL,
 CONSTRAINT [PK_TrangThai] PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TraNo]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TraNo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[KhoanVay] [int] NOT NULL,
	[NgayTra] [date] NULL,
	[SoTien] [int] NULL,
 CONSTRAINT [PK_TraNo] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[KhoanVay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vay_ChoVay]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vay_ChoVay](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[NgayVay] [date] NULL,
	[SoTien] [int] NULL,
	[ThanhVien] [nchar](10) NULL,
	[Loai] [int] NULL,
	[NguoiVay] [nchar](10) NULL,
 CONSTRAINT [PK_Vay_ChoVay] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CongViec] ON 

INSERT [dbo].[CongViec] ([MaCV], [Ngay], [Gio], [NoiDung], [ThanhVien], [ThongBao], [HoanThanh], [DaThongBao], [ThuChi], [SoTien]) VALUES (2, CAST(N'2018-10-24' AS Date), N'2307      ', N'fsdfsdfsd', N'tuanvm    ', 1, 0, 1, NULL, NULL)
INSERT [dbo].[CongViec] ([MaCV], [Ngay], [Gio], [NoiDung], [ThanhVien], [ThongBao], [HoanThanh], [DaThongBao], [ThuChi], [SoTien]) VALUES (3, CAST(N'2018-10-24' AS Date), N'2313      ', N'zxc', N'tuanvm    ', 1, 0, 1, NULL, NULL)
INSERT [dbo].[CongViec] ([MaCV], [Ngay], [Gio], [NoiDung], [ThanhVien], [ThongBao], [HoanThanh], [DaThongBao], [ThuChi], [SoTien]) VALUES (4, CAST(N'2018-10-24' AS Date), N'2313      ', N'zxc', N'tuanvm    ', 1, 0, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[CongViec] OFF
INSERT [dbo].[KhoanThu] ([MaKT], [MaThanhVien], [Ngay], [LoaiKT], [KhoanThu], [SoTien], [GhiChu]) VALUES (N'kt01      ', N'tuanvm    ', CAST(N'2018-10-03' AS Date), N'LKT0001   ', N'Update1', 123456792, N'?????')
INSERT [dbo].[KhoanThu] ([MaKT], [MaThanhVien], [Ngay], [LoaiKT], [KhoanThu], [SoTien], [GhiChu]) VALUES (N'kt02      ', N'tuanvm    ', CAST(N'2018-10-03' AS Date), N'LKT0001   ', N'Update1', 123456792, N'?????')
SET IDENTITY_INSERT [dbo].[LanDangNhap] ON 

INSERT [dbo].[LanDangNhap] ([Ma], [Ngay], [Gio], [TrangThai], [TrangThaiXem]) VALUES (4184, CAST(N'2018-08-11' AS Date), CAST(N'14:21:54.3430000' AS Time), 0, 1)
INSERT [dbo].[LanDangNhap] ([Ma], [Ngay], [Gio], [TrangThai], [TrangThaiXem]) VALUES (4185, CAST(N'2018-08-11' AS Date), CAST(N'17:41:35.5970000' AS Time), 0, 1)
INSERT [dbo].[LanDangNhap] ([Ma], [Ngay], [Gio], [TrangThai], [TrangThaiXem]) VALUES (4186, CAST(N'2018-08-12' AS Date), CAST(N'22:24:58.5170000' AS Time), 0, 1)
SET IDENTITY_INSERT [dbo].[LanDangNhap] OFF
INSERT [dbo].[LoaiCamXuc] ([MaCX], [TenCX]) VALUES (1, N'Vui')
INSERT [dbo].[LoaiCamXuc] ([MaCX], [TenCX]) VALUES (2, N'Buồn')
INSERT [dbo].[LoaiCamXuc] ([MaCX], [TenCX]) VALUES (3, N'Bình thường')
INSERT [dbo].[LoaiKhoanChi] ([MaLKC], [TenLKC]) VALUES (N'LKC0001   ', N'Tiền Nhà  ')
INSERT [dbo].[LoaiKhoanChi] ([MaLKC], [TenLKC]) VALUES (N'LKC0002   ', N'Ăn Uống Hằng Ngày')
INSERT [dbo].[LoaiKhoanChi] ([MaLKC], [TenLKC]) VALUES (N'LKC0003   ', N'Liên Hoan')
INSERT [dbo].[LoaiKhoanThu] ([MaLKT], [TenLKT]) VALUES (N'LKT0001   ', N'UTACHI')
INSERT [dbo].[LoaiKhoanThu] ([MaLKT], [TenLKT]) VALUES (N'LKT0002   ', N'Lương')
INSERT [dbo].[LoaiKhoanThu] ([MaLKT], [TenLKT]) VALUES (N'LKT0003   ', N'Được Cho')
INSERT [dbo].[LoaiVay] ([id], [Loai]) VALUES (1, N'Vay')
INSERT [dbo].[LoaiVay] ([id], [Loai]) VALUES (2, N'Cho Vay')
INSERT [dbo].[NguoiVay] ([id], [Ten], [SDT]) VALUES (N'nv0001    ', N'Nguyễn Xuân Trường', 975048596)
INSERT [dbo].[NguoiVay] ([id], [Ten], [SDT]) VALUES (N'nv0002    ', N'Nguyễn Bá Quân', 1234567891)
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (1, N'Admin')
INSERT [dbo].[Quyen] ([MaQuyen], [TenQuyen]) VALUES (2, N'Thành Viên')
INSERT [dbo].[ThanhVien] ([TenDangNhap], [MatKhau], [TenTV], [NgaySinh], [GioiTinh], [DiaVi], [CauHoiBM], [CauTraLoi], [Anh], [DienThoai], [Email], [Quyen]) VALUES (N'tuanvm1   ', N'1', N'Vũ Mạnh Tuấn', CAST(N'1997-04-13' AS Date), N'Nam', N'Thành Viên', N'Người bạn yêu nhất?', N'Mom', NULL, N'01677560590         ', N'manhtuanst04@gmail.com                  ', 1)
SET IDENTITY_INSERT [dbo].[TietKiem] ON 

INSERT [dbo].[TietKiem] ([id], [Ngay], [SoTien], [ThanhVien], [MucDich]) VALUES (1, CAST(N'2018-08-01' AS Date), 11000000, N'tuanvm    ', NULL)
INSERT [dbo].[TietKiem] ([id], [Ngay], [SoTien], [ThanhVien], [MucDich]) VALUES (2, CAST(N'2018-08-02' AS Date), 2000000, N'tuanvm    ', NULL)
SET IDENTITY_INSERT [dbo].[TietKiem] OFF
SET IDENTITY_INSERT [dbo].[TraNo] ON 

INSERT [dbo].[TraNo] ([id], [KhoanVay], [NgayTra], [SoTien]) VALUES (1005, 1012, CAST(N'2018-08-27' AS Date), 100000)
INSERT [dbo].[TraNo] ([id], [KhoanVay], [NgayTra], [SoTien]) VALUES (1006, 1012, CAST(N'2018-08-26' AS Date), 200000)
INSERT [dbo].[TraNo] ([id], [KhoanVay], [NgayTra], [SoTien]) VALUES (1007, 1, CAST(N'2018-08-26' AS Date), 200000)
SET IDENTITY_INSERT [dbo].[TraNo] OFF
SET IDENTITY_INSERT [dbo].[Vay_ChoVay] ON 

INSERT [dbo].[Vay_ChoVay] ([id], [NgayVay], [SoTien], [ThanhVien], [Loai], [NguoiVay]) VALUES (1, CAST(N'2018-08-01' AS Date), 500000, N'tuanvm    ', 2, N'nv0001    ')
INSERT [dbo].[Vay_ChoVay] ([id], [NgayVay], [SoTien], [ThanhVien], [Loai], [NguoiVay]) VALUES (1012, CAST(N'2018-08-26' AS Date), 200000, N'tuanvm    ', 1, N'nv0001    ')
INSERT [dbo].[Vay_ChoVay] ([id], [NgayVay], [SoTien], [ThanhVien], [Loai], [NguoiVay]) VALUES (1013, CAST(N'2018-08-26' AS Date), 300000, N'tuanvm    ', 1, N'nv0001    ')
SET IDENTITY_INSERT [dbo].[Vay_ChoVay] OFF
ALTER TABLE [dbo].[CongViec]  WITH CHECK ADD  CONSTRAINT [FK_CongViec_ThanhVien] FOREIGN KEY([ThanhVien])
REFERENCES [dbo].[ThanhVien] ([TenDangNhap])
GO
ALTER TABLE [dbo].[CongViec] CHECK CONSTRAINT [FK_CongViec_ThanhVien]
GO
ALTER TABLE [dbo].[KhoanChi]  WITH CHECK ADD  CONSTRAINT [FK_KhoanChi_LoaiKhoanChi] FOREIGN KEY([LoaiKC])
REFERENCES [dbo].[LoaiKhoanChi] ([MaLKC])
GO
ALTER TABLE [dbo].[KhoanChi] CHECK CONSTRAINT [FK_KhoanChi_LoaiKhoanChi]
GO
ALTER TABLE [dbo].[KhoanChi]  WITH CHECK ADD  CONSTRAINT [FK_KhoanChi_ThanhVien] FOREIGN KEY([MaThanhVien])
REFERENCES [dbo].[ThanhVien] ([TenDangNhap])
GO
ALTER TABLE [dbo].[KhoanChi] CHECK CONSTRAINT [FK_KhoanChi_ThanhVien]
GO
ALTER TABLE [dbo].[KhoanThu]  WITH CHECK ADD  CONSTRAINT [FK_KhoanThu_LoaiKhoanThu] FOREIGN KEY([LoaiKT])
REFERENCES [dbo].[LoaiKhoanThu] ([MaLKT])
GO
ALTER TABLE [dbo].[KhoanThu] CHECK CONSTRAINT [FK_KhoanThu_LoaiKhoanThu]
GO
ALTER TABLE [dbo].[KhoanThu]  WITH CHECK ADD  CONSTRAINT [FK_KhoanThu_ThanhVien] FOREIGN KEY([MaThanhVien])
REFERENCES [dbo].[ThanhVien] ([TenDangNhap])
GO
ALTER TABLE [dbo].[KhoanThu] CHECK CONSTRAINT [FK_KhoanThu_ThanhVien]
GO
ALTER TABLE [dbo].[ThanhVien]  WITH CHECK ADD  CONSTRAINT [FK_ThanhVien_Quyen] FOREIGN KEY([Quyen])
REFERENCES [dbo].[Quyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[ThanhVien] CHECK CONSTRAINT [FK_ThanhVien_Quyen]
GO
ALTER TABLE [dbo].[TietKiem]  WITH CHECK ADD  CONSTRAINT [FK_TietKiem_MucDichTietKiem] FOREIGN KEY([MucDich])
REFERENCES [dbo].[MucDichTietKiem] ([id])
GO
ALTER TABLE [dbo].[TietKiem] CHECK CONSTRAINT [FK_TietKiem_MucDichTietKiem]
GO
ALTER TABLE [dbo].[TietKiem]  WITH CHECK ADD  CONSTRAINT [FK_TietKiem_ThanhVien] FOREIGN KEY([ThanhVien])
REFERENCES [dbo].[ThanhVien] ([TenDangNhap])
GO
ALTER TABLE [dbo].[TietKiem] CHECK CONSTRAINT [FK_TietKiem_ThanhVien]
GO
ALTER TABLE [dbo].[TrangThai]  WITH CHECK ADD  CONSTRAINT [FK_TrangThai_LoaiCamXuc] FOREIGN KEY([CamXuc])
REFERENCES [dbo].[LoaiCamXuc] ([MaCX])
GO
ALTER TABLE [dbo].[TrangThai] CHECK CONSTRAINT [FK_TrangThai_LoaiCamXuc]
GO
ALTER TABLE [dbo].[TrangThai]  WITH CHECK ADD  CONSTRAINT [FK_TrangThai_ThanhVien] FOREIGN KEY([ThanhVien])
REFERENCES [dbo].[ThanhVien] ([TenDangNhap])
GO
ALTER TABLE [dbo].[TrangThai] CHECK CONSTRAINT [FK_TrangThai_ThanhVien]
GO
ALTER TABLE [dbo].[TraNo]  WITH CHECK ADD  CONSTRAINT [FK_TraNo_Vay_ChoVay] FOREIGN KEY([KhoanVay])
REFERENCES [dbo].[Vay_ChoVay] ([id])
GO
ALTER TABLE [dbo].[TraNo] CHECK CONSTRAINT [FK_TraNo_Vay_ChoVay]
GO
ALTER TABLE [dbo].[Vay_ChoVay]  WITH CHECK ADD  CONSTRAINT [FK_Vay_ChoVay_LoaiVay1] FOREIGN KEY([Loai])
REFERENCES [dbo].[LoaiVay] ([id])
GO
ALTER TABLE [dbo].[Vay_ChoVay] CHECK CONSTRAINT [FK_Vay_ChoVay_LoaiVay1]
GO
ALTER TABLE [dbo].[Vay_ChoVay]  WITH CHECK ADD  CONSTRAINT [FK_Vay_ChoVay_NguoiVay] FOREIGN KEY([NguoiVay])
REFERENCES [dbo].[NguoiVay] ([id])
GO
ALTER TABLE [dbo].[Vay_ChoVay] CHECK CONSTRAINT [FK_Vay_ChoVay_NguoiVay]
GO
ALTER TABLE [dbo].[Vay_ChoVay]  WITH CHECK ADD  CONSTRAINT [FK_Vay_ChoVay_ThanhVien] FOREIGN KEY([ThanhVien])
REFERENCES [dbo].[ThanhVien] ([TenDangNhap])
GO
ALTER TABLE [dbo].[Vay_ChoVay] CHECK CONSTRAINT [FK_Vay_ChoVay_ThanhVien]
GO
/****** Object:  StoredProcedure [dbo].[KhoanChoVayChuaTra]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[KhoanChoVayChuaTra](@matv NCHAR(10))
AS
BEGIN
	SELECT vcv.id, vcv.NgayVay, vcv.SoTien, lv.Loai
	FROM dbo.Vay_ChoVay vcv, dbo.LoaiVay lv
	WHERE (vcv.id NOT IN (SELECT KhoanVay FROM dbo.TraNo) 
	OR vcv.SoTien > (SELECT SUM(tn.SoTien) FROM TraNo tn WHERE tn.KhoanVay = vcv.id))
	AND vcv.Loai = 2
	AND vcv.Loai = lv.id
	AND vcv.ThanhVien = @matv
END


GO
/****** Object:  StoredProcedure [dbo].[KhoanVayChuaTra]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[KhoanVayChuaTra](@matv NCHAR(10))
AS
BEGIN
	SELECT vcv.id, vcv.NgayVay, vcv.SoTien, lv.Loai
	FROM dbo.Vay_ChoVay vcv, dbo.LoaiVay lv
	WHERE (vcv.id NOT IN (SELECT KhoanVay FROM dbo.TraNo) 
	OR vcv.SoTien > (SELECT SUM(tn.SoTien) FROM TraNo tn WHERE tn.KhoanVay = vcv.id))
	AND vcv.Loai = 1
	AND vcv.Loai = lv.id
	AND vcv.ThanhVien = @matv
END


GO
/****** Object:  StoredProcedure [dbo].[SP_CapNhatThongTinThanhVien]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_CapNhatThongTinThanhVien](@tendangnhap NCHAR(20), @matkhau varchar(50), @cauhoi NVARCHAR(50), @cautraloi NVARCHAR(50), @tentv NVARCHAR(50), @ngaysinh DATE, @gioitinh NVARCHAR(10), @diavi NVARCHAR(20), @anh IMAGE, @dienthoai NCHAR(20),@email NCHAR(40))
AS
BEGIN
	UPDATE dbo.ThanhVien 
	SET TenDangNhap= @tendangnhap, MatKhau = @matkhau, CauHoiBM = @cauhoi, CauTraLoi = @cautraloi, TenTV = @tentv, NgaySinh = @ngaysinh, GioiTinh = @gioitinh, DiaVi = @diavi, Anh = @anh, DienThoai = @dienthoai, Email = @email
	WHERE TenDangNhap = @tendangnhap
END


GO
/****** Object:  StoredProcedure [dbo].[SP_ChoVay]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ChoVay](@ngayvay DATE, @sotien INT, @matv NCHAR(10), @nguoivay NCHAR(10))
AS
BEGIN
	INSERT INTO dbo.Vay_ChoVay
	        ( NgayVay ,
	          SoTien ,
	          ThanhVien ,
	          Loai ,
	          NguoiVay
	        )
	VALUES  ( @ngayvay , -- NgayVay - date
	          @sotien , -- SoTien - int
	          @matv , -- ThanhVien - nchar(10)
	          2 , -- Loai - int
	          @nguoivay  -- NguoiVay - nchar(10)
	        )
END


GO
/****** Object:  StoredProcedure [dbo].[SP_DaThongBaoCongViec]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DaThongBaoCongViec](@macv NCHAR(10))
AS
BEGIN
	UPDATE dbo.CongViec SET Dathongbao = 1 WHERE MaCV = @macv
END


GO
/****** Object:  StoredProcedure [dbo].[SP_DaXemCanhBao]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DaXemCanhBao]
AS
BEGIN
	UPDATE dbo.LanDangNhap SET TrangThaiXem = 1 WHERE TrangThaiXem = 0
END


GO
/****** Object:  StoredProcedure [dbo].[SP_DemSoCongViecCaNhanChuaHoanThanh]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DemSoCongViecCaNhanChuaHoanThanh](@matv NCHAR(10))
AS
BEGIN
	DECLARE @socv INT

	SELECT @socv = COUNT(*) FROM dbo.CongViec WHERE ThanhVien = @matv AND HoanThanh = 0

	SELECT @socv AS socv
END


GO
/****** Object:  StoredProcedure [dbo].[SP_DemSoLanTrongThang]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DemSoLanTrongThang](@batdau DATE, @ketthuc DATE)
AS
BEGIN
	DECLARE @solan int 
	SELECT @solan = COUNT(*) FROM dbo.TheoDoi WHERE KetQua = 1 AND Ngay BETWEEN @batdau AND @ketthuc

	SELECT @solan AS SoLanTrongThang
END


GO
/****** Object:  StoredProcedure [dbo].[SP_DemSoUser]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DemSoUser]
AS
BEGIN
	DECLARE @SoUser INT

	SELECT @SoUser = COUNT(*) FROM dbo.ThanhVien

	SELECT @SoUser
END


GO
/****** Object:  StoredProcedure [dbo].[SP_KhoanChiThangCaNhanTheoLoai]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KhoanChiThangCaNhanTheoLoai](@MaLKC NCHAR(10), @MaTV NCHAR(10), @dateStart NVARCHAR(20), @dateEnd NVARCHAR(20))
AS
BEGIN
	SELECT Ngay, MaThanhVien, KhoanChi , SoTien
	FROM dbo.KhoanChi kc
	WHERE kc.LoaiKC = @MaLKC AND kc.MaThanhVien = @MaTV AND kc.Ngay BETWEEN @dateStart AND @dateEnd
END



GO
/****** Object:  StoredProcedure [dbo].[SP_KhoanChiThangTheoLoai]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KhoanChiThangTheoLoai](@MaLKC NCHAR(10), @dateStart NVARCHAR(20), @dateEnd NVARCHAR(20))
AS
BEGIN
	SELECT Ngay, MaThanhVien, KhoanChi , SoTien
	FROM dbo.KhoanChi kc
	WHERE kc.LoaiKC = @MaLKC AND kc.Ngay BETWEEN @dateStart AND @dateEnd
END


GO
/****** Object:  StoredProcedure [dbo].[SP_KhoanThuThangCaNhanTheoLoai]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KhoanThuThangCaNhanTheoLoai](@MaLKT NCHAR(10), @MaTV NCHAR(10), @dateStart NVARCHAR(20), @dateEnd NVARCHAR(20))
AS
BEGIN
	SELECT Ngay, MaThanhVien, KhoanThu , SoTien
	FROM dbo.KhoanThu kt
	WHERE kt.LoaiKT = @MaLKT AND kt.MaThanhVien = @MaTV AND kt.Ngay BETWEEN @dateStart AND @dateEnd
END


GO
/****** Object:  StoredProcedure [dbo].[SP_KhoanThuThangTheoLoai]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KhoanThuThangTheoLoai](@MaLKT NCHAR(10), @dateStart NVARCHAR(20), @dateEnd NVARCHAR(20))
AS
BEGIN
	SELECT Ngay, MaThanhVien, KhoanThu , SoTien
	FROM dbo.KhoanThu kt
	WHERE kt.LoaiKT = @MaLKT AND kt.Ngay BETWEEN @dateStart AND @dateEnd
END


GO
/****** Object:  StoredProcedure [dbo].[SP_KiemTraKhoanTraNo]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_KiemTraKhoanTraNo](@khoanvay INT, @sotien INT)
AS
BEGIN
	DECLARE @res INT

	IF(@sotien <= (SELECT SoTien - (SELECT SUM(SoTien) FROM dbo.TraNo tn WHERE tn.KhoanVay= @khoanvay)
	FROM dbo.Vay_ChoVay vcv
	WHERE vcv.id = @khoanvay
	)
	)
	 	SET @res = 1
	ELSE
		SET @res = 0

	SELECT @res AS KetQua
END



GO
/****** Object:  StoredProcedure [dbo].[SP_KiemTraMaTV]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_KiemTraMaTV](@matv NCHAR(10))
AS
BEGIN
	SELECT COUNT(*) FROM dbo.ThanhVien WHERE TenDangNhap = @matv
END


GO
/****** Object:  StoredProcedure [dbo].[SP_LanDangNhapSaiChuXem]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LanDangNhapSaiChuXem]
AS
BEGIN
	SELECT Ngay, Gio FROM dbo.LanDangNhap WHERE TrangThai = 0 AND TrangThaiXem = 0
END


GO
/****** Object:  StoredProcedure [dbo].[SP_LanDangNhapSaiDaXem]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_LanDangNhapSaiDaXem]
AS
BEGIN
	SELECT Ngay, Gio FROM dbo.LanDangNhap WHERE TrangThai = 0 AND TrangThaiXem = 1 ORDER BY Ma DESC
END


GO
/****** Object:  StoredProcedure [dbo].[SP_Login]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Login](@Username NCHAR(10), @Password VARCHAR(50), @Queation NVARCHAR(50), @Answer NVARCHAR(50))
AS
BEGIN
	DECLARE @Count INT;
	DECLARE @Res INT;

	SELECT @Count = COUNT(*) FROM dbo.ThanhVien WHERE TenDangNhap = @Username AND MatKhau = @Password AND CauHoiBM = @Queation AND CauTraLoi = @Answer

	IF(@Count = 1)
	SET @Res = 1
	ELSE
	SET @Res = 0;

	SELECT @Res

END


GO
/****** Object:  StoredProcedure [dbo].[SP_NguoiDung]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_NguoiDung](@Username NCHAR(10), @Password VarCHAR(50), @Queation NVARCHAR(50), @Answer NVARCHAR(50))
AS
BEGIN

	SELECT TenTV, Quyen, Email FROM dbo.ThanhVien WHERE TenDangNhap = @Username AND MatKhau = @Password AND CauHoiBM = @Queation AND CauTraLoi = @Answer

END


GO
/****** Object:  StoredProcedure [dbo].[SP_PhanTrangKhoanChiCaNhan]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_PhanTrangKhoanChiCaNhan](@matv NCHAR(10), @ngaybatdau NCHAR(10),  @ngayketthuc NCHAR(10), @pageIndex INT, @pageSize INT)
AS
BEGIN
	DECLARE @startIndex INT = (@pageIndex-1)*@pageSize

	SELECT MaKC, Ngay, TenLKC, KhoanChi, SoTien, GhiChu 
	FROM dbo.KhoanChi kc, dbo.LoaiKhoanChi lkc
	WHERE kc.LoaiKC = lkc.MaLKC AND MaThanhVien = @matv AND Ngay BETWEEN @ngaybatdau AND @ngayketthuc
	ORDER BY MaKC DESC

	OFFSET @startIndex ROWS
	FETCH NEXT @pageSize ROWS ONLY 
END


GO
/****** Object:  StoredProcedure [dbo].[SP_PhanTrangKhoanThuCaNhan]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_PhanTrangKhoanThuCaNhan](@matv NCHAR(10), @ngaybatdau NCHAR(10),  @ngayketthuc NCHAR(10), @pageIndex INT, @pageSize INT)
AS
BEGIN
	DECLARE @startIndex INT = (@pageIndex-1)*@pageSize

	SELECT MaKT, Ngay, TenLKT, KhoanThu, SoTien, GhiChu 
	FROM dbo.KhoanThu kt, dbo.LoaiKhoanThu lkt
	WHERE kt.LoaiKT = lkt.MaLKT AND MaThanhVien = @matv AND Ngay BETWEEN @ngaybatdau AND @ngayketthuc
	ORDER BY MaKT DESC

	OFFSET @startIndex ROWS
	FETCH NEXT @pageSize ROWS ONLY 
END


GO
/****** Object:  StoredProcedure [dbo].[SP_SoCongViecTrongNgayChuaHoanThanh]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SoCongViecTrongNgayChuaHoanThanh](@matv NCHAR(10), @ngay DATE)
AS
BEGIN
	SELECT COUNT(*)
	FROM dbo.CongViec 
	WHERE ThanhVien = @matv AND Ngay = @ngay AND HoanThanh = '0'
END


GO
/****** Object:  StoredProcedure [dbo].[SP_SoKhoanChiCaNhan]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SoKhoanChiCaNhan](@matv NCHAR(10), @ngaybatdau NCHAR(10),  @ngayketthuc NCHAR(10))
AS
BEGIN
	SELECT COUNT(*) FROM dbo.KhoanChi
	WHERE MaThanhVien = @matv AND Ngay BETWEEN @ngaybatdau AND @ngayketthuc
END


GO
/****** Object:  StoredProcedure [dbo].[SP_SoKhoanThuCaNhan]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SoKhoanThuCaNhan](@matv NCHAR(10), @ngaybatdau NCHAR(10),  @ngayketthuc NCHAR(10))
AS
BEGIN
	SELECT COUNT(*) FROM dbo.KhoanThu
	WHERE MaThanhVien = @matv AND Ngay BETWEEN @ngaybatdau AND @ngayketthuc
END


GO
/****** Object:  StoredProcedure [dbo].[SP_SoLanDangNhapSai]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SoLanDangNhapSai]
AS
BEGIN
	SELECT COUNT(*) FROM dbo.LanDangNhap WHERE TrangThai = 0 AND TrangThaiXem = 0
END




GO
/****** Object:  StoredProcedure [dbo].[SP_SoThongBao]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SoThongBao](@matv NCHAR(10), @ngay DATE)
AS
BEGIN
	DECLARE @dem INT
	SET @dem = 0
	DECLARE @khoanchi INT
	DECLARE @khoanthu INT
	DECLARE @trangthai INT

	SELECT @khoanchi = COUNT(*) FROM dbo.KhoanChi WHERE MaThanhVien = @matv AND Ngay = @ngay

	SELECT @khoanthu = COUNT(*) FROM dbo.KhoanThu WHERE MaThanhVien = @matv AND Ngay = @ngay

	SELECT @trangthai = COUNT(*) FROM dbo.TrangThai WHERE ThanhVien = @matv AND Ngay = @ngay

	IF (@khoanthu = 0) SET @dem= @dem + 1 
	IF (@khoanchi = 0) SET @dem= @dem + 1 
	IF (@trangthai = 0) SET @dem= @dem + 1 

	SELECT @dem
END


GO
/****** Object:  StoredProcedure [dbo].[SP_SuaCongViec]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SuaCongViec](@macv NCHAR(10), @ngay DATE, @gio NCHAR(10), @noidung NVARCHAR(200), @thanhvien NCHAR(10), @thongbao INT, @hoanthanh INT)
AS
BEGIN
	UPDATE dbo.CongViec SET Ngay = @ngay, Gio = @gio, NoiDung = @noidung, ThanhVien = @thanhvien, ThongBao = @thongbao, HoanThanh = @hoanthanh, dathongbao= 0
	WHERE MaCV = @macv
END


GO
/****** Object:  StoredProcedure [dbo].[SP_SuaKhoanChi]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SuaKhoanChi](@makc NCHAR(10), @matv NCHAR(10), @ngay DATE, @loaikc NCHAR(10), @khoanchi NVARCHAR(100), @sotien FLOAT, @ghichu NVARCHAR(100))
AS
BEGIN
	UPDATE dbo.KhoanChi SET MaKC = @makc, MaThanhVien = @matv, Ngay = @ngay, KhoanChi = @khoanchi, SoTien = @sotien, GhiChu = @ghichu
	WHERE MaKC = @makc
END



GO
/****** Object:  StoredProcedure [dbo].[SP_SuaKhoanThu]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SuaKhoanThu](@makt NCHAR(10), @matv NCHAR(10), @ngay DATE, @loaikt NCHAR(10), @khoanthu NVARCHAR(100), @sotien FLOAT, @ghichu NVARCHAR(100))
AS
BEGIN
	UPDATE dbo.KhoanThu SET MaKT = @makt, MaThanhVien = @matv, Ngay = @ngay, LoaiKT = @loaikt, KhoanThu = @khoanthu, SoTien = @sotien, GhiChu = @ghichu
	WHERE MaKT = @makt
END


GO
/****** Object:  StoredProcedure [dbo].[SP_SuaLoaiKhoanChi]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SuaLoaiKhoanChi](@malkc NCHAR(10), @tenlkc NVARCHAR(20))
AS
BEGIN
	UPDATE dbo.LoaiKhoanChi SET TenLKC = @tenlkc
	WHERE MaLKC = @malkc
END


GO
/****** Object:  StoredProcedure [dbo].[SP_SuaLoaiKhoanThu]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SuaLoaiKhoanThu](@malkt NCHAR(10), @tenlkt NVARCHAR(20))
AS
BEGIN
	UPDATE dbo.LoaiKhoanThu SET TenLKT = @tenlkt
	WHERE MaLKT = @malkt
END


GO
/****** Object:  StoredProcedure [dbo].[SP_SuaNguoiVay]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SuaNguoiVay](@ma NCHAR(10), @ten NVARCHAR(50), @sdt INT)
AS
BEGIN
	UPDATE dbo.NguoiVay 
	SET id = @ma, Ten = @ten , SDT = @sdt
	WHERE id = @ma
END


GO
/****** Object:  StoredProcedure [dbo].[SP_SuaThanhVien]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SuaThanhVien](@tendangnhap NCHAR(20), @matkhau varchar(200), @cauhoi NVARCHAR(50), @cautraloi NVARCHAR(50), @tentv NVARCHAR(50), @ngaysinh DATE, @gioitinh NVARCHAR(10), @diavi NVARCHAR(20), @anh IMAGE, @dienthoai NCHAR(20),@email NCHAR(40) , @quyen INT)
AS
BEGIN
	UPDATE dbo.ThanhVien 
	SET TenDangNhap= @tendangnhap, MatKhau = @matkhau, CauHoiBM = @cauhoi, CauTraLoi = @cautraloi, TenTV = @tentv, NgaySinh = @ngaysinh, GioiTinh = @gioitinh, DiaVi = @diavi, Anh = @anh, DienThoai = @dienthoai, Email = @email, Quyen = @quyen
	WHERE TenDangNhap = @tendangnhap
END


GO
/****** Object:  StoredProcedure [dbo].[SP_SuaTheoDoi]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_SuaTheoDoi](@ngay DATE, @ketqua INT)
AS
BEGIN
	UPDATE dbo.TheoDoi SET KetQua = @ketqua WHERE Ngay = @ngay
END


GO
/****** Object:  StoredProcedure [dbo].[SP_SuaTrangThai]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SuaTrangThai](@matt INT, @matv NCHAR(10), @ngay DATE, @gio TIME, @camxuc INT, @trangthai NVARCHAR(200), @anh IMAGE)
AS
BEGIN
	UPDATE dbo.TrangThai SET ThanhVien = @matv, Ngay = @ngay, CamXuc = @camxuc, TrangThai = @trangthai, Anh = @anh, Gio = @gio
	WHERE MaTT = @matt
END


GO
/****** Object:  StoredProcedure [dbo].[SP_SuaTrangThai1]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SuaTrangThai1](@matt INT, @trangthai NVARCHAR(200), @camxuc INT , @anh IMAGE)
AS
BEGIN
	UPDATE dbo.TrangThai SET TrangThai = @trangthai, CamXuc = @camxuc, Anh = @anh WHERE MaTT = @matt
END


GO
/****** Object:  StoredProcedure [dbo].[SP_ThemCongViec]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ThemCongViec](@ngay DATE, @gio NCHAR(10), @noidung NVARCHAR(200), @thanhvien NCHAR(10), @thongbao INT, @hoanthanh INT)
AS
BEGIN
	INSERT INTO dbo.CongViec
	        ( Ngay ,
	          Gio ,
	          NoiDung ,
	          ThanhVien ,
	          ThongBao,
			  HoanThanh,
			  DaThongBao
	        )
	VALUES  ( @ngay , -- Ngay - date
	          @gio , -- Gio - nchar(10)
	          @noidung , -- NoiDung - nvarchar(200)
	          @thanhvien , -- ThanhVien - nchar(10)
	          @thongbao , -- ThongBao - int
			  @hoanthanh,
			  0
	        )
END


GO
/****** Object:  StoredProcedure [dbo].[SP_ThemKhoanChi]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ThemKhoanChi](@makc NCHAR(10), @matv NCHAR(10), @ngay DATE, @loaikc NCHAR(10), @khoanchi NVARCHAR(100), @sotien FLOAT, @ghichu NVARCHAR(100))
AS
BEGIN
	INSERT INTO dbo.KhoanChi 
	        ( MaKC ,
	          MaThanhVien ,
	          Ngay ,
	          LoaiKC ,
	          KhoanChi ,
	          SoTien ,
	          GhiChu
	        )
	VALUES  ( @makc, @matv, @ngay, @loaikc, @khoanchi, @sotien, @ghichu
	        )
END


GO
/****** Object:  StoredProcedure [dbo].[SP_ThemKhoanThu]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ThemKhoanThu](@makt NCHAR(10), @matv NCHAR(10), @ngay DATE, @loaikt NCHAR(10), @khoanthu NVARCHAR(190), @sotien FLOAT, @ghichu NVARCHAR(100))
AS
BEGIN
	INSERT INTO dbo.KhoanThu
	VALUES  (@makt, @matv, @ngay, @loaikt, @khoanthu,  @sotien, @ghichu)
END


GO
/****** Object:  StoredProcedure [dbo].[SP_ThemLanDangNhap]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ThemLanDangNhap](@ngay DATE, @gio TIME, @trangthai INT, @trangthaixem INT)
AS
BEGIN
	INSERT INTO LanDangNhap VALUES (@ngay, @gio, @trangthai, @trangthaixem)
END


GO
/****** Object:  StoredProcedure [dbo].[SP_ThemLoaiKhoanChi]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_ThemLoaiKhoanChi](@malkc NCHAR(10), @tenlkc NVARCHAR(20))
AS
BEGIN
	INSERT INTO dbo.LoaiKhoanChi
	        ( MaLKC, TenLKC )
	VALUES  ( @malkc, -- MaLKT - nchar(10)
	          @tenlkC  -- TenLKT - nvarchar(50)
	          )
END


GO
/****** Object:  StoredProcedure [dbo].[SP_ThemLoaiKhoanThu]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ThemLoaiKhoanThu](@malkt NCHAR(10), @tenlkt NVARCHAR(20))
AS
BEGIN
	INSERT INTO dbo.LoaiKhoanThu
	        ( MaLKT, TenLKT )
	VALUES  ( @malkt, -- MaLKT - nchar(10)
	          @tenlkt  -- TenLKT - nvarchar(50)
	          )
END


GO
/****** Object:  StoredProcedure [dbo].[SP_ThemNguoiVay]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ThemNguoiVay](@ma NCHAR(10), @ten NVARCHAR(50), @sdt INT)
AS
BEGIN
	INSERT INTO dbo.NguoiVay
	        ( id, Ten, SDT )
	VALUES  ( @ma, -- id - nchar(10)
	          @ten, -- Ten - nvarchar(50)
	          @sdt  -- SDT - int
	          )
END


GO
/****** Object:  StoredProcedure [dbo].[SP_ThemThanhVien]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ThemThanhVien](@tendangnhap NCHAR(20), @matkhau varchar(200), @cauhoi NVARCHAR(50), @cautraloi NVARCHAR(50), @tentv NVARCHAR(50), @ngaysinh DATE, @gioitinh NVARCHAR(10), @diavi NVARCHAR(20), @anh IMAGE, @dienthoai NCHAR(20),@email NCHAR(40), @quyen INT)
AS
BEGIN
	INSERT INTO dbo.ThanhVien
	        ( TenDangNhap ,
	          MatKhau ,
	          TenTV ,
	          NgaySinh ,
	          GioiTinh ,
	          DiaVi ,
	          CauHoiBM ,
	          CauTraLoi,
			  Anh,
			  DienThoai,
			  Email,
			  Quyen
	        )
	VALUES  ( @tendangnhap , -- TenDangNhap - nchar(10)
	          @matkhau , -- MatKhau - nvarchar(10)
	          @tentv , -- TenTV - nvarchar(50)
	          @ngaysinh , -- NgaySinh - date
	          @gioitinh , -- GioTinh - nvarchar(10)
	          @diavi , -- DiaVi - nvarchar(10)
	          @cauhoi , -- CauHoiBM - nvarchar(30)
	          @cautraloi,  -- CauTraLoi - nvarchar(30)
			  @anh,
			  @dienthoai,
			  @email,
			  @quyen
	        )
END


GO
/****** Object:  StoredProcedure [dbo].[SP_ThemTheoDoi]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ThemTheoDoi](@ketqua INT)
AS
BEGIN
	DECLARE @khoangcach INT 
	DECLARE @ngaygannhat DATE

	SELECT TOP 1  @ngaygannhat =Ngay FROM theodoi WHERE ketqua = 1 ORDER BY Ngay DESC
	
	SET  @khoangcach = DATEDIFF(day, @ngaygannhat, GETDATE()) 

	INSERT INTO theodoi VALUES (GETDATE(), @ketqua, @khoangcach)
	

END


GO
/****** Object:  StoredProcedure [dbo].[SP_ThemTrangThai]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ThemTrangThai](@matv NCHAR(10), @ngay DATE, @gio TIME, @camxuc INT, @trangthai NVARCHAR(200), @anh IMAGE)
AS
BEGIN
	INSERT INTO dbo.TrangThai
	        ( 
	          ThanhVien ,
	          Ngay ,
	          CamXuc ,
	          TrangThai ,
	          Anh,
			  Gio
	        )
	VALUES  (
	          @matv , -- ThanhVien - nchar(10)
	          @ngay , -- ThoiGian - datetime
	          @camxuc , -- CamXuc - nvarchar(50)
	          @trangthai, -- TrangThai - nvarchar(500)
	          @anh, -- Anh - image
			  @gio
	        )
END


GO
/****** Object:  StoredProcedure [dbo].[SP_TheoDoiTheoThang]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_TheoDoiTheoThang](@batdau DATE, @ketthuc DATE)
AS
BEGIN
	SELECT *FROM dbo.TheoDoi WHERE Ngay BETWEEN @batdau AND @ketthuc
END




GO
/****** Object:  StoredProcedure [dbo].[SP_ThongBao]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ThongBao](@matv NCHAR(10), @ngay DATE)
AS
BEGIN
	DECLARE @khoanchi INT
	DECLARE @khoanthu INT
	DECLARE @trangthai INT 

	SELECT @khoanchi = COUNT(*) FROM dbo.KhoanChi WHERE MaThanhVien = @matv AND Ngay = @ngay

	SELECT @khoanthu = COUNT(*) FROM dbo.KhoanThu WHERE MaThanhVien = @matv AND Ngay = @ngay

	SELECT @trangthai = COUNT(*) FROM dbo.TrangThai WHERE ThanhVien = @matv AND Ngay = @ngay

	
	SELECT @khoanthu AS KhoanThu, @khoanchi AS KhoanChi, @trangthai AS TrangThai
END


GO
/****** Object:  StoredProcedure [dbo].[SP_ThongBaoCongViec]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ThongBaoCongViec](@matv NCHAR(10), @ngay DATE, @gio NCHAR(10))
AS
BEGIN
	SELECT Ngay, Gio, NoiDung, ThongBao, Dathongbao, MaCV
	FROM dbo.CongViec
	WHERE ThanhVien = @matv AND Ngay = @ngay AND Gio = @gio
END


GO
/****** Object:  StoredProcedure [dbo].[SP_ThongSoTheoDoi]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ThongSoTheoDoi]
AS
BEGIN
	DECLARE @ngaygannhat DATE
	DECLARE @khoangcachvoihientai INT 
	DECLARE @khoangcachlonnhat INT 

	SELECT TOP 1  @ngaygannhat =Ngay FROM theodoi WHERE ketqua = 1 ORDER BY Ngay DESC

	SET  @khoangcachvoihientai = DATEDIFF(day, @ngaygannhat, GETDATE()) 

	SELECT @khoangcachlonnhat = MAX(KhoangCach) FROM dbo.TheoDoi

	SELECT @ngaygannhat AS NgayGanNhat, @khoangcachvoihientai AS KhoangCachVoiHienTai, @khoangcachlonnhat AS KhoangCachLonNhat

END


GO
/****** Object:  StoredProcedure [dbo].[SP_TimKiemKhoanThu]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_TimKiemKhoanThu](@makt nchar(10))
as
begin
	SELECT MaKT, Ngay, TenLKT, KhoanThu, SoTien, GhiChu , MaThanhVien
	FROM dbo.KhoanThu kt, dbo.LoaiKhoanThu lkt
	WHERE kt.LoaiKT = lkt.MaLKT and MaKT = @makt
end

GO
/****** Object:  StoredProcedure [dbo].[SP_TongChiCaNhanTheoLoai]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TongChiCaNhanTheoLoai](@matv NCHAR(10), @batdau DATE, @ketthuc DATE)
AS
BEGIN
	SELECT TenLKC, SUM(SoTien) AS SoTien
	FROM dbo.LoaiKhoanChi lkt, dbo.KhoanChi kt
	WHERE lkt.MaLKC = kt.LoaiKC AND kt.MaThanhVien= @matv AND kt.Ngay BETWEEN @batdau AND @ketthuc
	GROUP BY TenLKC
	ORDER BY SoTien DESC
END


GO
/****** Object:  StoredProcedure [dbo].[SP_TongChiCaNhanTrongNgay]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TongChiCaNhanTrongNgay](@matv NCHAR(10), @ngay DATE)
AS
BEGIN
	DECLARE @ketqua INT 
	DECLARE @tong INT
	SELECT @tong = SUM(SoTien) 
	FROM dbo.KhoanChi
	WHERE MaThanhVien = @matv  AND Ngay = @ngay

	IF(@tong != 0)
		SET @ketqua = @tong
	ELSE
		SET @ketqua = 0

	SELECT @ketqua AS KetQua

END


GO
/****** Object:  StoredProcedure [dbo].[SP_TongChiTheoLoai]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TongChiTheoLoai](@batdau DATE, @ketthuc DATE)
AS
BEGIN
	SELECT TenLKC, SUM(SoTien) AS SoTien
	FROM dbo.LoaiKhoanChi lkt, dbo.KhoanChi kt
	WHERE lkt.MaLKC = kt.LoaiKC AND kt.Ngay BETWEEN @batdau AND @ketthuc
	GROUP BY TenLKC
END


GO
/****** Object:  StoredProcedure [dbo].[SP_TongChiTheoThang]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TongChiTheoThang](@dateStart NVARCHAR(20), @dateEnd NVARCHAR(20))
AS
BEGIN
	DECLARE @ketqua INT
    DECLARE @sotien INT

	SELECT @sotien = SUM(SoTien) FROM dbo.KhoanChi WHERE Ngay BETWEEN @dateStart AND @dateEnd

	IF(@sotien != 0)
		SET @ketqua = @sotien
	ELSE SET @ketqua = 0
	
	SELECT @ketqua

END


GO
/****** Object:  StoredProcedure [dbo].[SP_TongKhoanChiCaNhanTheoLoai]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TongKhoanChiCaNhanTheoLoai](@MaLKC NCHAR(10), @MaTV NCHAR(10),@dateStart NVARCHAR(20), @dateEnd NVARCHAR(20))
AS
BEGIN
	DECLARE @sotien INT
	DECLARE @ketqua INT

	SELECT @sotien = SUM(SoTien)
	FROM dbo.KhoanChi
	WHERE LoaiKC = @MaLKC AND MaThanhVien = @MaTV AND  Ngay BETWEEN @dateStart AND @dateEnd

	
	IF(@sotien != 0)
		SET @ketqua = @sotien
	ELSE SET @ketqua = 0
	
	SELECT @ketqua
END


GO
/****** Object:  StoredProcedure [dbo].[SP_TongKhoanChiThangTheoLoai]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TongKhoanChiThangTheoLoai](@MaLKC NCHAR(10), @MaTV NCHAR(10),@dateStart NVARCHAR(20), @dateEnd NVARCHAR(20))
AS
BEGIN
	DECLARE @sotien INT
	DECLARE @ketqua INT

	SELECT @sotien = SUM(SoTien)
	FROM dbo.KhoanChi
	WHERE LoaiKC = @MaLKC AND MaThanhVien = @MaTV AND  Ngay BETWEEN @dateStart AND @dateEnd

	
	IF(@sotien != 0)
		SET @ketqua = @sotien
	ELSE SET @ketqua = 0
	
	SELECT @ketqua
END


GO
/****** Object:  StoredProcedure [dbo].[SP_TongKhoanChiTheoLoai]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TongKhoanChiTheoLoai](@MaLKC NCHAR(10),@dateStart NVARCHAR(20), @dateEnd NVARCHAR(20))
AS
BEGIN
	DECLARE @sotien INT
	DECLARE @ketqua INT

	SELECT @sotien = SUM(SoTien)
	FROM dbo.KhoanChi
	WHERE LoaiKC = @MaLKC AND Ngay BETWEEN @dateStart AND @dateEnd

	
	IF(@sotien != 0)
		SET @ketqua = @sotien
	ELSE SET @ketqua = 0
	
	SELECT @ketqua
END


GO
/****** Object:  StoredProcedure [dbo].[SP_TongKhoanThuCaNhanTheoLoai]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TongKhoanThuCaNhanTheoLoai](@MaLKT NCHAR(10), @MaTV NCHAR(10),@dateStart NVARCHAR(20), @dateEnd NVARCHAR(20))
AS
BEGIN
	DECLARE @sotien INT
	DECLARE @ketqua INT

	SELECT @sotien = SUM(SoTien)
	FROM dbo.KhoanThu
	WHERE LoaiKT = @MaLKT AND MaThanhVien = @MaTV AND Ngay BETWEEN @dateStart AND @dateEnd

	
	IF(@sotien != 0)
		SET @ketqua = @sotien
	ELSE SET @ketqua = 0
	
	SELECT @ketqua
END


GO
/****** Object:  StoredProcedure [dbo].[SP_TongKhoanThuTheoLoai]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TongKhoanThuTheoLoai](@MaLKT NCHAR(10),@dateStart NVARCHAR(20), @dateEnd NVARCHAR(20))
AS
BEGIN
	DECLARE @sotien INT
	DECLARE @ketqua INT

	SELECT @sotien = SUM(SoTien)
	FROM dbo.KhoanThu
	WHERE LoaiKT = @MaLKT AND Ngay BETWEEN @dateStart AND @dateEnd

	
	IF(@sotien != 0)
		SET @ketqua = @sotien
	ELSE SET @ketqua = 0
	
	SELECT @ketqua
END


GO
/****** Object:  StoredProcedure [dbo].[SP_TongThuCaNhanTheoLoai]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TongThuCaNhanTheoLoai](@matv NCHAR(10), @batdau DATE, @ketthuc DATE)
AS
BEGIN
	SELECT TenLKT, SUM(SoTien) AS SoTien
	FROM dbo.LoaiKhoanThu lkt, dbo.KhoanThu kt
	WHERE lkt.MaLKT = kt.LoaiKT AND kt.MaThanhVien= @matv AND kt.Ngay BETWEEN @batdau AND @ketthuc
	GROUP BY TenLKT
	ORDER BY SoTien DESC
END


GO
/****** Object:  StoredProcedure [dbo].[SP_TongThuCaNhanTrongNgay]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TongThuCaNhanTrongNgay](@matv NCHAR(10), @ngay DATE)
AS
BEGIN
	DECLARE @ketqua INT 
	DECLARE @tong INT
	SELECT @tong = SUM(SoTien) 
	FROM dbo.KhoanThu
	WHERE MaThanhVien = @matv AND Ngay = @ngay

	IF(@tong != 0)
		SET @ketqua = @tong
	ELSE
		SET @ketqua = 0

	SELECT @ketqua AS KetQua

END


GO
/****** Object:  StoredProcedure [dbo].[SP_TongThuChi]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TongThuChi](@batdau DATE, @ketthuc DATE)
AS
BEGIN
	DECLARE @tongkhoanthu int
	DECLARE @tongkhoanchi int
	DECLARE @ketquathu INT
	DECLARE @ketquachi INT

	SELECT @tongkhoanthu = SUM(SoTien) FROM dbo.KhoanThu WHERE Ngay BETWEEN @batdau AND @ketthuc

	SELECT @tongkhoanchi = SUM(SoTien) FROM dbo.KhoanChi WHERE Ngay BETWEEN @batdau AND @ketthuc

	IF(@tongkhoanthu != 0)
		SET @ketquathu = @tongkhoanthu
	ELSE SET @ketquathu = 0

	IF(@tongkhoanchi != 0)
		SET @ketquachi = @tongkhoanchi
	ELSE SET @ketquachi = 0

	SELECT @ketquathu, @ketquachi

END


GO
/****** Object:  StoredProcedure [dbo].[SP_TongThuTheoLoai]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TongThuTheoLoai] (@batdau DATE, @ketthuc DATE)
AS
BEGIN
	SELECT TenLKT, SUM(SoTien) AS SoTien
	FROM dbo.LoaiKhoanThu lkt, dbo.KhoanThu kt
	WHERE lkt.MaLKT = kt.LoaiKT and kt.Ngay BETWEEN @batdau AND @ketthuc
	GROUP BY TenLKT
END


GO
/****** Object:  StoredProcedure [dbo].[SP_TongThuTheoThang]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TongThuTheoThang](@dateStart NVARCHAR(20), @dateEnd NVARCHAR(20))
AS
BEGIN
	DECLARE @ketqua INT
    DECLARE @sotien INT

	SELECT @sotien = SUM(SoTien) FROM dbo.KhoanThu WHERE Ngay BETWEEN @dateStart AND @dateEnd

	IF(@sotien != 0)
		SET @ketqua = @sotien
	ELSE SET @ketqua = 0
	
	SELECT @ketqua

END


GO
/****** Object:  StoredProcedure [dbo].[SP_TraNo]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TraNo](@khoanvay INT, @ngaytra DATE, @sotien INT)
AS
BEGIN
	INSERT INTO dbo.TraNo
	        ( KhoanVay, NgayTra, SoTien )
	VALUES  (
	          @khoanvay, -- KhoanVay - int
	          @ngaytra, -- NgayTra - date
	          @sotien  -- SoTien - int
	         )
END


GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateCongViec]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_UpdateCongViec](@macv NCHAR(10), @thongbao INT, @hoanthanh INT)
AS
BEGIN
	UPDATE dbo.CongViec SET ThongBao = @thongbao, HoanThanh = @hoanthanh
	WHERE MaCV = @macv
END


GO
/****** Object:  StoredProcedure [dbo].[SP_VanTinSoDu]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SP_VanTinSoDu](@dateStart NVARCHAR(20), @dateEnd NVARCHAR(20))
AS
BEGIN
	DECLARE @sotien INT
	DECLARE @ketqua INT
	DECLARE @tongkt INT
    DECLARE @tongkc INT

	SELECT @tongkt = SUM(SoTien) FROM dbo.KhoanThu WHERE Ngay BETWEEN @dateStart AND @dateEnd
	SELECT @tongkc = SUM(SoTien) FROM dbo.KhoanChi WHERE Ngay BETWEEN @dateStart AND @dateEnd

	SET @sotien = @tongkt - @tongkc
	
	IF(@sotien != 0)
		SET @ketqua = @sotien
	ELSE SET @ketqua = 0
	
	SELECT @ketqua


END


GO
/****** Object:  StoredProcedure [dbo].[SP_VanTinSoDuTongHop]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_VanTinSoDuTongHop](@batdau DATE, @ketthuc DATE)
AS
BEGIN
	DECLARE @sotien INT
	DECLARE @ketqua INT
	DECLARE @tongkt INT
    DECLARE @tongkc INT

	SELECT @tongkt = SUM(SoTien) FROM dbo.KhoanThu WHERE Ngay BETWEEN @batdau AND @ketthuc
	SELECT @tongkc = SUM(SoTien) FROM dbo.KhoanChi WHERE Ngay BETWEEN @batdau AND @ketthuc

	SET @sotien = @tongkt - @tongkc
	
	IF(@sotien != 0)
		SET @ketqua = @sotien
	ELSE SET @ketqua = 0
	
	SELECT @ketqua
END


GO
/****** Object:  StoredProcedure [dbo].[SP_VayTien]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_VayTien](@ngayvay DATE, @sotien INT, @matv NCHAR(10), @nguoivay NCHAR(10))
AS
BEGIN
	INSERT INTO dbo.Vay_ChoVay
	        ( NgayVay ,
	          SoTien ,
	          ThanhVien ,
	          Loai ,
	          NguoiVay
	        )
	VALUES  ( @ngayvay , -- NgayVay - date
	          @sotien , -- SoTien - int
	          @matv , -- ThanhVien - nchar(10)
	          1 , -- Loai - int
	          @nguoivay  -- NguoiVay - nchar(10)
	        )
END


GO
/****** Object:  StoredProcedure [dbo].[SP_XemCongViecCaNhanChuaHoanThanh]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XemCongViecCaNhanChuaHoanThanh](@matv NCHAR(10))
AS
BEGIN
	SELECT Ngay, Gio, NoiDung, ThongBao, MaCV, HoanThanh
	FROM dbo.CongViec 
	WHERE ThanhVien = @matv AND HoanThanh = 0
END


GO
/****** Object:  StoredProcedure [dbo].[SP_XemCongViecCaNhanSapToi]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XemCongViecCaNhanSapToi](@matv NCHAR(10), @ngaybatdau DATE, @ngayketthuc DATE)
AS
BEGIN
	SELECT Ngay, Gio, NoiDung, ThongBao, MaCV , HoanThanh
	FROM dbo.CongViec 
	WHERE ThanhVien = @matv AND Ngay BETWEEN @ngaybatdau AND @ngayketthuc
END


GO
/****** Object:  StoredProcedure [dbo].[SP_XemCongViecCaNhanTrongNgay]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XemCongViecCaNhanTrongNgay](@matv NCHAR(10), @ngay DATE)
AS
BEGIN
	SELECT Ngay, Gio, NoiDung, ThongBao, MaCV, HoanThanh, Dathongbao
	FROM dbo.CongViec 
	WHERE ThanhVien = @matv AND Ngay = @ngay
END


GO
/****** Object:  StoredProcedure [dbo].[SP_XemCongViecCaNhanTrongNgayChuaLam]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XemCongViecCaNhanTrongNgayChuaLam](@matv NCHAR(10), @ngay DATE)
AS
BEGIN
	SELECT Gio, NoiDung, ThongBao, MaCV, HoanThanh
	FROM dbo.CongViec 
	WHERE ThanhVien = @matv AND Ngay = @ngay AND HoanThanh = 0
END


GO
/****** Object:  StoredProcedure [dbo].[SP_XemKhoanChiCaNhan]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XemKhoanChiCaNhan](@matv NCHAR(10), @ngaybatdau DATE, @ngayketthuc DATE)
AS
BEGIN
	SELECT MaKC, Ngay, TenLKC, KhoanChi, SoTien, GhiChu 
	FROM dbo.KhoanChi kt, dbo.LoaiKhoanChi lkt
	WHERE kt.LoaiKC = lkt.MaLKC AND MaThanhVien = @matv AND Ngay BETWEEN @ngaybatdau AND @ngayketthuc
	ORDER BY kt.Ngay DESC
END


GO
/****** Object:  StoredProcedure [dbo].[SP_XemKhoanThuCaNhan]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XemKhoanThuCaNhan](@matv NCHAR(10), @ngaybatdau DATE, @ngayketthuc DATE)
AS
BEGIN
	SELECT MaKT, Ngay, TenLKT, KhoanThu, SoTien, GhiChu 
	FROM dbo.KhoanThu kt, dbo.LoaiKhoanThu lkt
	WHERE kt.LoaiKT = lkt.MaLKT AND MaThanhVien = @matv AND Ngay BETWEEN @ngaybatdau AND @ngayketthuc
	ORDER BY kt.Ngay DESC
END


GO
/****** Object:  StoredProcedure [dbo].[SP_XemKhoanThuCaNhanDemo]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XemKhoanThuCaNhanDemo](@matv NCHAR(10))
AS
BEGIN
	SELECT MaThanhVien, MaKT, Ngay, TenLKT, KhoanThu, SoTien, GhiChu 
	FROM dbo.KhoanThu kt, dbo.LoaiKhoanThu lkt
	WHERE kt.LoaiKT = lkt.MaLKT AND MaThanhVien = @matv
	ORDER BY kt.Ngay DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_XemLanDangNhapSai]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XemLanDangNhapSai](@ngay DATE)
AS
BEGIN
	SELECT Ngay, Gio FROM dbo.LanDangNhap WHERE Ngay = @ngay AND TrangThai = 0 AND TrangThaiXem = 0
END


GO
/****** Object:  StoredProcedure [dbo].[SP_XemTatCaCongViecCaNhan]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XemTatCaCongViecCaNhan](@matv NCHAR(10))
AS
BEGIN
	SELECT Ngay, Gio, NoiDung, ThongBao, MaCV, HoanThanh
	FROM dbo.CongViec 
	WHERE ThanhVien = @matv
END


GO
/****** Object:  StoredProcedure [dbo].[SP_XemTrangThaiCaNhan]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_XemTrangThaiCaNhan](@matv NCHAR(10))
AS
BEGIN
	SELECT tt.MaTT AS MaTT, Ngay, lcx.TenCX AS TenCX, TrangThai, tt.Anh , Gio
	FROM dbo.TrangThai tt, dbo.LoaiCamXuc lcx
	WHERE tt.ThanhVien = @matv AND lcx.MaCX = tt.CamXuc
	ORDER BY MaTT DESC
END


GO
/****** Object:  StoredProcedure [dbo].[SP_XoaKhoanThu]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_XoaKhoanThu](@makt nchar(10))
as
begin
	Delete KhoanThu where MaKT = @makt
end
GO
/****** Object:  StoredProcedure [dbo].[TongKhoanChoVayChuaTra]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TongKhoanChoVayChuaTra](@matv NCHAR(10))
AS
BEGIN
	DECLARE @tongvay INT
	DECLARE @tongtra INT
	DECLARE @tongchuatra INT

	SELECT @tongvay = SUM(SoTien) FROM dbo.Vay_ChoVay WHERE Loai = 2 AND ThanhVien = @matv

	SELECT @tongtra = SUM(tn.SoTien) FROM dbo.TraNo tn, dbo.Vay_ChoVay vcv WHERE vcv.ThanhVien = @matv AND vcv.id = tn.KhoanVay

	IF(@tongvay IS NULL) SET @tongvay = 0
	IF(@tongtra IS NULL) SET @tongtra = 0

	SET @tongchuatra = @tongvay - @tongtra

	SELECT @tongchuatra

END


GO
/****** Object:  StoredProcedure [dbo].[TongKhoanChoVayChuaTraTheoNguoiMinhChoVay]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TongKhoanChoVayChuaTraTheoNguoiMinhChoVay](@matv NCHAR(10), @nguoivay NCHAR(10))
AS
BEGIN
	DECLARE @tongvay INT
	DECLARE @tongtra INT
	DECLARE @tongchuatra INT

	SELECT @tongvay = SUM(SoTien) FROM dbo.Vay_ChoVay WHERE Loai = 2 AND ThanhVien = @matv AND NguoiVay = @nguoivay

	SELECT @tongtra = SUM(tn.SoTien) 
	FROM dbo.TraNo tn, dbo.Vay_ChoVay vcv 
	WHERE vcv.ThanhVien = @matv AND vcv.id = tn.KhoanVay AND vcv.NguoiVay = @nguoivay

	IF(@tongvay IS NULL) SET @tongvay = 0
	IF(@tongtra IS NULL) SET @tongtra = 0

	SET @tongchuatra = @tongvay - @tongtra

	SELECT @tongchuatra

END


GO
/****** Object:  StoredProcedure [dbo].[TongKhoanVayChuaTra]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TongKhoanVayChuaTra](@matv NCHAR(10))
AS
BEGIN
	DECLARE @tongvay INT
	DECLARE @tongtra INT
	DECLARE @tongchuatra INT

	SELECT @tongvay = SUM(SoTien) FROM dbo.Vay_ChoVay WHERE Loai = 1 AND ThanhVien = @matv

	SELECT @tongtra = SUM(tn.SoTien) FROM dbo.TraNo tn, dbo.Vay_ChoVay vcv WHERE vcv.ThanhVien = @matv AND vcv.id = tn.KhoanVay

	IF(@tongvay IS NULL) SET @tongvay = 0
	IF(@tongtra IS NULL) SET @tongtra = 0

	SET @tongchuatra = @tongvay - @tongtra

	SELECT @tongchuatra

END


GO
/****** Object:  StoredProcedure [dbo].[TongKhoanVayChuaTraTheoNguoiMinhVay]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TongKhoanVayChuaTraTheoNguoiMinhVay](@matv NCHAR(10), @nguoivay NCHAR(10))
AS
BEGIN
	DECLARE @tongvay INT
	DECLARE @tongtra INT
	DECLARE @tongchuatra INT

	SELECT @tongvay = SUM(SoTien) FROM dbo.Vay_ChoVay WHERE Loai = 1 AND ThanhVien = @matv AND NguoiVay = @nguoivay

	SELECT @tongtra = SUM(tn.SoTien) 
	FROM dbo.TraNo tn, dbo.Vay_ChoVay vcv 
	WHERE vcv.ThanhVien = @matv AND vcv.id = tn.KhoanVay AND vcv.NguoiVay = @nguoivay

	IF(@tongvay IS NULL) SET @tongvay = 0
	IF(@tongtra IS NULL) SET @tongtra = 0

	SET @tongchuatra = @tongvay - @tongtra

	SELECT @tongchuatra

END


GO
/****** Object:  StoredProcedure [dbo].[XemKhoanChoVayChuaTraTheoNguoiVay]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XemKhoanChoVayChuaTraTheoNguoiVay](@matv NCHAR(10), @manv NCHAR(10))
AS
BEGIN
	SELECT vcv.id, vcv.NgayVay, vcv.SoTien, lv.Loai
	FROM dbo.Vay_ChoVay vcv, dbo.LoaiVay lv
	WHERE (vcv.id NOT IN (SELECT KhoanVay FROM dbo.TraNo) 
	OR vcv.SoTien > (SELECT SUM(tn.SoTien) FROM TraNo tn WHERE tn.KhoanVay = vcv.id))
	AND vcv.Loai = 2
	AND vcv.Loai = lv.id
	AND vcv.NguoiVay = @manv
	AND vcv.ThanhVien = @matv
END


GO
/****** Object:  StoredProcedure [dbo].[XemKhoanVayChuaTraTheoNguoiVay]    Script Date: 30/10/2018 7:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XemKhoanVayChuaTraTheoNguoiVay](@matv NCHAR(10), @manv NCHAR(10))
AS
BEGIN
	SELECT vcv.id, vcv.NgayVay, vcv.SoTien, lv.Loai
	FROM dbo.Vay_ChoVay vcv, dbo.LoaiVay lv
	WHERE (vcv.id NOT IN (SELECT KhoanVay FROM dbo.TraNo) 
	OR vcv.SoTien > (SELECT SUM(tn.SoTien) FROM TraNo tn WHERE tn.KhoanVay = vcv.id))
	AND vcv.Loai = 1
	AND vcv.Loai = lv.id
	AND vcv.NguoiVay = @manv
	AND vcv.ThanhVien = @matv
END


GO
USE [master]
GO
