
@{
    ViewBag.Title = "DongTienChinh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Đồng tiền chính của bạn</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Home/Index">Trang Chủ</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Đồng tiền chính</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12" style="margin:auto">
                            <div class="text-center m-t-lg">
                                <img src="~/Content/img/vnd.jpg" alt="VND">
                                <h1><span class="text-success">Việt Nam Đồng</span></h1>
                            </div>
                            <div>
                                <div class="hr-line-dashed"></div>
                                <div class="text-center p-m">
                                    <p>
                                        <strong> Phiên bản hiện tại chỉ hỗ trợ Việt Nam Đồng</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>