
@{
    ViewBag.Title = "ThongTinSanPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-4" style="margin:auto">
                            <div class="text-center m-t-lg">
                                <img src="~/Content/img/logo1.png" alt="Money" style="width: 300px">
                                <h1><span class="text-success">QUẢN LÝ THU CHI</span></h1>
                                <small>Phiên bản 5.0</small>
                            </div>
                            <div>
                                <div class="hr-line-dashed"></div>
                                <div class="text-center p-m">
                                    <p>
                                        <strong> Link Website:  <a href="http://www.quanlythuchi.com"><u>www.quanlythuchi.com</u></a></strong> 
                                    </p>
                                    <p class="text-center m-t-md">
                                        <a target="_blank" href="Angular/index.html" class="btn btn-primary">Share on Google</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

