
@{
    ViewBag.Title = "IndexTroGiup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Trợ giúp</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Home/Index">Trang Chủ</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Trợ giúp</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">


            <div class="faq-item">
                <div class="row">
                    <div class="col-md-7">
                        <h1><b>Bắt đầu sử dụng ứng dụng</b></h1>
                        <a data-toggle="collapse" href="#faq1" class="faq-question">Không có tài khoản liệu có dùng được ứng dụng không?</a>
                        <small>Được thêm bởi <strong>Dung</strong> <i class="fa fa-clock-o"></i> Today 2:40 pm - 24.11.2018</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div id="faq1" class="panel-collapse collapse ">
                            <div class="faq-answer">
                                <p>
                                    Nếu không có tài khoản và không đăng nhập thì không dùng được ứng dụng.
                                    Trước tiên,bạn phải đăng nhập bằng tài khoản bao gồm tên đăng nhập và mật khẩu đã tạo trước đó.
                                    Nếu chưa có tài khoản,các bạn ấn vào nút tạo tài khoản
                                </p>
                                <img src="~/Img/CaptureLogin.PNG" alt="Đăng nhập" title="Login">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="row">
                    <div class="col-md-7">
                        <a data-toggle="collapse" href="#faq2" class="faq-question">Có bắt buộc phải kết nối internet thì mới dùng được ứng dụng này không?</a>
                        <small>Được thêm bởi <strong>Dung</strong> <i class="fa fa-clock-o"></i> 3:30 pm - 11.11.2018</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div id="faq2" class="panel-collapse collapse">
                            <div class="faq-answer">
                                <p>
                                    Khi bạn có tài khoản mà muốn thực hiện ghi chép,thu chi,xem báo cáo,...thì không cần internet vẫn thực hiện được
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="row">
                    <div class="col-md-7">
                        <h1><b>Ghi chép</b></h1>
                        <a data-toggle="collapse" href="#faq3" class="faq-question">Không tìm thấy khoản thu tháng trước ở đâu?</a>
                        <small>Được thêm bởi <strong>Dung</strong> <i class="fa fa-clock-o"></i> 7:60 pm - 2.11.2018</small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div id="faq3" class="panel-collapse collapse">
                            <div class="faq-answer">
                                <p>
                                    Bạn có thể xem khoản thu theo từng tháng.Ví dụ bạn chọn tháng 10 rồi ấn nút xem,hệ thống sẽ hiện ra toàn bộ khoản thu trong tháng 10 đó
                                </p>
                                <img src="~/Img/Capture3.PNG" alt="Khoản Thu Tháng Trước">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="faq-item">
                <div class="row">
                    <div class="col-md-7">
                        <a data-toggle="collapse" href="#faq5" class="faq-question">Xem lại các khoản đã thu chi ở đâu?</a>
                        <small>Được thêm bởi <strong>Dung</strong> <i class="fa fa-clock-o"></i>1:23 pm - 12.10.2018</small>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="faq5" class="panel-collapse collapse">
                            <div class="faq-answer">
                                <p>
                                    Bạn vào mục Dòng thời gian thu chi sẽ xem được các khoản thu chi gần đây
                                </p>
                                <img src="~/Img/Capture4.PNG" alt="Dòng thời gian thu chi">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="faq-item">
                <div class="row">
                    <div class="col-md-7">
                        <a data-toggle="collapse" href="#faq4" class="faq-question">Đi vay bạn 1 khoản thì ghi lại ở đâu đỡ quên?</a>
                        <small>Được thêm bởi <strong>Dung</strong> <i class="fa fa-clock-o"></i>2:43 pm - 22.10.2018</small>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="faq4" class="panel-collapse collapse">
                            <div class="faq-answer">
                                <p>
                                    Bạn vào mục Vay-Cho Vay,chọn Khoản vay để xem
                                </p>
                                <img src="~/Img/Capture5.PNG" alt="Khoản Vay">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="faq-item">
                <div class="row">
                    <div class="col-md-7">
                        <a data-toggle="collapse" href="#faq6" class="faq-question">Cho bạn vay tiền thì ghi ở đâu?</a>
                        <small>Được thêm bởi <strong>Dung</strong> <i class="fa fa-clock-o"></i> Today 7:220 pm - 11.10.2018</small>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="faq6" class="panel-collapse collapse">
                            <div class="faq-answer">
                                <p>
                                    Bạn vào mục Vay-Cho Vay,chọn Khoản cho vay để xem
                                </p>
                                <img src="~/Img/Capture6.PNG" alt="Khoản Cho Vay">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="row">
                    <div class="col-md-7">
                        <a data-toggle="collapse" href="#faq7" class="faq-question"> Muốn tiết kiệm tiền vào 1 việc trong tương lai thì ghi vào đâu? </a>
                        <small>Được thêm bởi <strong>Dung</strong> <i class="fa fa-clock-o"></i> 4:50 pm - 8.10.2018</small>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="faq7" class="panel-collapse collapse">
                            <div class="faq-answer">
                                <p>
                                    Bạn vào mục Tiết kiệm,bấm chọn Tiết kiệm,có thể xem,thêm,sửa,xóa khoản tiết kiệm ở đây
                                </p>
                                <img src="~/Img/Capture7.PNG" alt="Khoản Tiết Kiệm">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-item">

                <div class="row">

                    <div class="col-md-7">
                        <h1><b>Phân tích,Báo cáo</b></h1>
                        <a data-toggle="collapse" href="#faq8" class="faq-question">Theo dõi tình hình thu chi như thế nào?</a>
                        <small>Được thêm bởi <strong>Dung</strong> <i class="fa fa-clock-o"></i> 1:30 am - 1.10.2018</small>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="faq8" class="panel-collapse collapse">
                            <div class="faq-answer">
                                <p>
                                    Bạn vào mục Báo cáo,trong đó có mục con Tình hình thu chi,có thể xem tổng các khoản thu chi trong ngày,trong tuần,trong tháng và năm
                                </p>
                                <img src="~/Img/Capture8.PNG" alt="Tình hình thu chi">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="faq-item">
                <div class="row">
                    <div class="col-md-7">
                        <a data-toggle="collapse" href="#faq9" class="faq-question">Muôn biết mình đã chi vào khoản nào nhiều hơn thì xem ở đâu?</a>
                        <small>Được thêm bởi <strong>Dung</strong> <i class="fa fa-clock-o"></i> 1:60 pm - 11.06.2018</small>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="faq9" class="panel-collapse collapse">
                            <div class="faq-answer">
                                <p>
                                    Bạn vào mục Báo cáo,chọn mục con Phân tích thu chi
                                </p>
                                <img src="~/Img/Capture9.PNG" alt="Phân tích thu chi">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="faq-item">
                <div class="row">
                    <div class="col-md-7">
                        <a data-toggle="collapse" href="#faq10" class="faq-question">Xem tài chính hiện tại ở đâu?</a>
                        <small>Được thêm bởi <strong>Dung</strong> <i class="fa fa-clock-o"></i> 1:60 pm - 11.06.2018</small>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="faq10" class="panel-collapse collapse">
                            <div class="faq-answer">
                                <p>
                                    Bạn vào mục Báo cáo,chọn mục con Tài chính hiện tại
                                </p>
                                <img src="~/Img/Capture11.PNG" alt="Tài chính hiện tại">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

