
@{
    ViewBag.Title = "PhanHoi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Phản hồi</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Home/Index">Trang Chủ</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Phản hồi</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <textarea class="form-control" id="phanhoi" rows="13" placeholder="Bạn cần hỗ trợ vấn đề gì?
Bạn không biết sử dụng chức năng nào?
Hoặc góp ý giúp chúng tôi hoàn thiện sản phẩm hơn nữa."></textarea>

                    </div>


                </div>
            </div>
            <div class="col-sm-12">
                <div class="title-action">
                    <button type="button" class="btn btn-primary">Gửi phản hồi</button>
                </div>
            </div>
        </div>
    </div>
</div>

