
@{
    ViewBag.Title = "ThemKhoanVay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Quản Lý Khoản Vay</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Home/Index">Trang Chủ</a>
            </li>
            <li class="breadcrumb-item">
                <a href="~/KhoanVay/Index">Khoản Vay</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Thêm Mới</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Thêm Mới Khoản Vay</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form action="ThemKhoanVay" method="post">

                        <div class="form-group row" id="data_1">
                            <div class="col-sm-2">
                                <label class="font-normal">Ngày Vay</label>
                            </div>
                            <div class="col-sm-10">
                                <div class="input-group date" data-date-format="dd-mm-yyyy">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" name="ngayvay" class="form-control" value="@DateTime.Now.ToString("dd-MM-yyyy")" required= "">
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Số Tiền</label>
                            <div class="col-sm-9">
                                <input type="number" name="sotien" class="form-control" required= "">
                            </div>
                            <div class="col-sm-1">
                                <label>VNĐ</label>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        
                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label class="font-normal">Người Cho Vay</label>
                            </div>
                            <div class="col-sm-10">
                                <select data-placeholder="Chọn tài khoản" class="chosen-select" tabindex="2" name="nguoivay">
                                    @foreach (var x in ViewBag.NguoiVay)
                                    {
                                        <option value=@x.id>@x.ten</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Thêm người vay ở <a href="~/NguoiVay/ThemNguoiVay">đây</a></label>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="form-group row">
                            <div class="col-sm-2">
                                <label class="font-normal">Đến Tài Khoản</label>
                            </div>
                            <div class="col-sm-10">
                                <select data-placeholder="Chọn tài khoản" class="chosen-select" tabindex="2" name="taikhoanchitieu">
                                    @foreach (var x in ViewBag.TaiKhoanChiTieu)
                                    {
                                        <option value=@x.id>@x.tentaikhoan</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <a class="btn btn-white btn-sm" href="~/KhoanVay/Index">Hủy Bỏ</a>
                                <button class="btn btn-primary btn-sm" type="submit">Thêm mới</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



