
@{
    Layout = null;
}

<!DOCTYPE html>
<html>


<!-- Mirrored from webapplayers.com/inspinia_admin-v2.8/forgot_password.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 01 Nov 2018 12:27:56 GMT -->
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Quên Mật Khẩu</title>

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/css/animate.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content">

                    <h2 class="font-bold">Quên mật khẩu</h2>

                    <p>
                        Hãy nhập tên đăng nhập của bạn!
                        Chúng tôi sẽ kiểm tra và gửi mật khẩu mới tới mail mà bạn đăng ký
                    </p>

                    <div class="row">
                        <div class="col-lg-12">
                            <form class="m-t" role="form" action="QuenMatKhau" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Tên đăng nhập" required="" name="tendangnhap">
                                </div>

                                <button type="submit" class="btn btn-primary block full-width m-b">Xác nhận</button>

                            </form>
                            <div class="form-group">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                MTA - Software
            </div>
            <div class="col-md-6 text-right">
                <small>© 2018-2019</small>
            </div>
        </div>
    </div>

</body>


<!-- Mirrored from webapplayers.com/inspinia_admin-v2.8/forgot_password.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 01 Nov 2018 12:27:56 GMT -->
</html>
