
@{
    ViewBag.Title = "TrangCaNhan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Trang thông tin cá nhân</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="~/Home/Index">Trang Chủ</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Trang Cá Nhân</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-3 " >
            <div class="contact-box center-version">

                <a href="profile.html">
                    <img alt="image" class="rounded-circle" src="~/Content/img/User/tuandz.jpg">

                    <h3 class="m-b-xs"><strong>Vũ Mạnh Tuấn</strong></h3>

                    <div class="font-bold">tuanvm1</div>
                    <address class="m-t-md">
                        <strong>manhtuanst04@gmail.com</strong><br>
                        01677560590<br>
                        Nam<br>
                        13-04-1997
                    </address>
                </a>
                <div class="contact-box-footer">
                    <div class="m-t-xs btn-group">
                        <a href="#" class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Chỉnh Sửa </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>