
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumbs-->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Trang chủ</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <strong>Trang Chủ</strong>
            </li>
            @*<li class="breadcrumb-item active">
                <strong>Breadcrumb</strong>
            </li>*@
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="#" class="btn btn-primary">This is action area</a>
        </div>
    </div>
</div>